<ion-view view-title="PhotoCalc" ng-controller="HomeCtrl">
  <ion-content class="padding">
    <div class="list card">
        <label class="item item-input item-select">
            <div class="input-label">
            Marque
            </div>
            <select ng-options="marque.marque for marque in appareils" ng-model="marque">
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
            Mod&#xE8;le
            </div>
            <select ng-options="modele.name for modele in marque.model" ng-model="modele">
            </select>
        </label>
    </div>

    {{ modele.confusion }}

    <div class="list card">
        <label class="item item-input item-select">
            <div class="input-label">
            Focal
            </div>
            <select>
                <option selected>50mm</option>
                <option>100mm</option>
                <option>200mm</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
            Ouverture
            </div>
            <select>
                <option selected>f 1.4</option>
                <option>f 1.8</option>
                <option>f 2</option>
            </select>
        </label>
    </div>

    <div class="list card">
        <label class="item item-input">
            <input type="text" placeholder="Distance du sujet en m&#xE8;tre">
        </label>
    </div>

    <button ui-sref="results" class="button button-full button-positive">
      Calculer
    </button>
  </ion-content>
</ion-view>
