<ion-view view-title="PhotoCalc" >
  <ion-content class="padding">
      <form ng-submit="calcul(modele.confusion, focal.value, ouverture.value, distance)" ng-controller="HomeCtrl">
        <div class="list card">
            <label class="item item-input item-select">
                <i class="icon pc-marque"></i>
                <div class="input-label">
                Marque
                </div>
                <select ng-options="marque.marque for marque in appareils" ng-model="marque">
                </select>
            </label>

            <label class="item item-input item-select">
                <i class="icon pc-model"></i>
                <div class="input-label">
                Mod&#xE8;le
                </div>
                <select ng-options="modele.name for modele in marque.model" ng-model="modele">
                </select>
            </label>
        </div>
        <div class="list card">
            <label class="item item-input item-select">
                <i class="icon pc-focal"></i>
                <div class="input-label">
                Focal
                </div>
                <select ng-options="value.name for value in focals" ng-model="focal">
                </select>
            </label>
            <label class="item item-input item-select">
                <i class="icon pc-ouverture"></i>
                <div class="input-label">
                Ouverture
                </div>
                <select ng-options="value.ouverture for value in ouvertures" ng-model="ouverture">
                </select>
            </label>
        </div>

        <div class="list card">
            <label class="item item-input">
                <i class="icon pc-distance placeholder-icon"></i>
                <input type="text" ng-model="distance" placeholder="Distance du sujet en m&#xE8;tre">
            </label>
        </div>


        <button class="button button-full button-positive">
          Calculer
        </button>
    </form>

    <a ui-sref="results">Page résultats</a>

    <div class="card padding">
        <p>Faire une fonction qui vérifie les valeurs et qui fais les calculs puis envoie sur la page de résultats.</p>
        <p>Si il manque des valeurs erreur explicative.</p>
        <hr>
        <p>{{ modele.confusion }}</p>
        <p>{{ focal.value }}</p>
        <p>{{ ouverture.value }}</p>
        <p>{{ distance }}</p>
    </div>

  </ion-content>
</ion-view>
